{{< pex-layout}}

{{$header}}Sorry, you’ll have to start again{{/header}}

{{$content}}
    <p>Your session automatically ends if you don’t use the service for 30 minutes.</p>
    <p>We do this for your security. We haven’t saved any personal information you entered.</p>
    <a href="{{index}}" class="button" role="button">Start your application again</a>
    <div class="panel-indent">
        <p>We may store photos you've uploaded for up to 2 weeks to help improve this <a href="https://www.gov.uk/help/beta">beta service</a>. Photos won't be stored with any personal information.</p>
    </div>
{{/content}}

{{/ pex-layout}}