#back {
    a {
        display: inline-block;
        margin-top: $gutter-half;
        padding-left: 14px;
        border-bottom: $black 1px solid;
        color: $black;
        text-decoration: none;
        background: url("./images/icon-caret-left.png") no-repeat 0 4px;
        @include core-16;
        @include media(mobile) {
            background-position: 0 1px;
        }
    }
}